{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/styles.css' %}" type='text/css' />
    <title>Document</title>
</head>
<body>
    <section class="about">
        <h3>Esta es la página de realizada para el trabajo final del curso:</h3>
    <p>
        Esta pagina tiene como finalidad el cargar y visualizar los posts creados por el usuario. En la misma, se puede cargar y eliminar un post. Para hacerlo el usuario debe ingresar su usuario y contraseña o reguistrarse.
        Si el usuario es un administrador se habilitan las opciones de borrar o agregar un post y topicos que no sean del usuario en cuestion.
        Esta pagina esta inspirada en el estilo de 4Chan.
        
    </p>

    </section>
    
    
</body>
</html>