{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Foro</title>
        <link rel='stylesheet' href="{% static 'css/styles.css' %}" type='text/css' />
        
    </head>

        
    <body>
        <section class="login" >
            {% include 'foro/header.html' %}
        </section>
            <section class="head">
                <h1>FORO TANs</h1>
            </section>
        <section class='FlexContainer'>
            <div>
                <button><a href="{% url 'adherir:adherir' %}">Crear un topico</a></button>
                <button><a href="{% url 'borrar:borrar' %}">Borrar un topico</a></button>    
                <ul>
                    {% for topic in topics %}
                    <li>
                        <a href="">{{ topic.nombre }}</a>
                    </li>
                    {% endfor %}
                    
                </ul>
        
            </div>
            
        </section>

       
    </body>
    <footer>
  
            {% include 'foro/footer.html' %}   
  
    </footer>
    
        
</html>

