{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Foro</title>
        <link rel='stylesheet' href="{% static 'css/styles.css' %}" type='text/css' />
    </head>

    <body>
        
        {% if login %}
        <section class="header" >
            {% include 'foro/header_exit.html' %}
        </section>
        {% else %}
        <section class="header" >
            {% include 'foro/header_login&registro.html' %}
        </section>
        {% endif %}
        <section class="head">
            <a href="{% url 'adherir:avatar' %}"><img class = "perfil" src="{{usuario.perfil_imagen.url}}"></a><h1>{{usuario.usuario}}</h1>
        </section>
        <br>
        <section class='cuerpo'>
            <div class = "columna centrado">
                <br>
                <div class="columna centrado">
                        <h3>Posteos:</h3>
                        {% for post in posts %}
                    <div class="posteos bordes mayuscula">
                        <a class=" max_with" href="{% url 'posteo:posteo' post.id %}">{{ post.titulo }}</a>
                        {% if post.usuario == usuario or admin %}
                        
                        
                        <a class="borrar" href="{% url 'borrar:post' post.id %}"><img src="{% static '/assets/borrar.png' %}" height="30" width="30"></a>
                        {% endif %}
                    </div>
                
                <br>
                {% endfor %}
                </div>
                
        
            </div>
            
        </section>

       
    </body>
    <footer>
            
            {% include 'foro/footer.html' %}   
  
    </footer>
    

</html>