{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Foro</title>
        <link rel='stylesheet' href="{% static 'css/styles.css' %}" type='text/css' />
    </head>

    <body>
        {% load static %}
        {% if login %}
        <section class="header" >
            {% include 'foro/header_exit.html' %}
        </section>
        {% else %}
        <section class="header" >
            {% include 'foro/header_login&registro.html' %}
        </section>
        {% endif %}
            <section class="head">
                <h1>ArgChan</h1>
            </section>
        <section class='cuerpo'>
            <div class = "columna centrado">
                {% if post %}
                <div class="post">
                    <div class="columna centado">
                        <h2>{{ post.titulo }}</h2>
                        <p>{{ post.contenido }}</p>
                    </div>
                    
                </div>
                <br>
                <div class="subtitulo bordes">
                    <h3>Comentarios:</h3>
                </div>
                {% for comentario in comentarios %}
                    <div class = "comentario">
                        <div class="columna centado">
                            <div class="max_with bordes mayuscula">
                                <img class = "perfil" src="{{comentario.usuario.perfil_imagen.url}}"><span>{{ comentario.usuario.usuario }}: </span>
                                {% if comentario.usuario == usuario or admin %}
                                
                                <a class="borrar" href="{% url 'borrar:comentario' comentario.id %}"><img src="{% static '/assets/borrar.png' %}" height="30" width="30"></a>
                                {% endif %}
                            </div>
                            
                            <p>{{ comentario.contenido }}</p>
                        </div>
                    </div>
                    <br>
                {% endfor %}
                {% endif %}
                
            </div>
            <br>
            {% if login %}
            <form action="{% url 'adherir:comentario' post.id %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div class="columna centrado">
                    <div>
                        <textarea name="contenido" cols="50" rows="5"></textarea>
                    </div>
                    <input type="submit" value="Comentar">
                </div>
            </form>
            {% endif %}
        </section>

       
    </body>
    <footer>
    
  
            {% include 'foro/footer.html' %}
  
    </footer>
    
        
</html>
