{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Foro</title>
        <link rel='stylesheet' href="{% static 'css/styles.css' %}" type='text/css' />
    </head>

    <body>
        {% if login %}
        <section class="header" >
            {% include 'foro/header_login&registro.html' %}
        </section>
        {% else %}
        <section class="header" >
            {% include 'foro/header_exit.html' %}
        </section>
        {% endif %}
            <section class="head">
                <h1>Foro ArgChan</h1>
            </section>
        <section class='cuerpo'>
            <div>
                <button><a href="">Crear un post</a></button>
                <ul>
                    {% for post in posts %}
                    <li>
                        <a href="">{{ post.titulo }}</a>
                    </li>
                    {% endfor %}
                    
                </ul>
        
            </div>
            
        </section>

       
    </body>
    <footer>
            <section class="about">
                <button><a href="">Sobre nosotros</a></button>
            </section>
            
  
            {% include 'foro/footer.html' %}   
  
    </footer>
    
        
</html>