{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Foro</title>
        <link rel='stylesheet' href="{% static 'css/styles.css' %}" type='text/css' />
    </head>

    <body>
        {% if login %}
        <section class="header" >
            {% include 'foro/header_exit.html' %}
        </section>
        {% else %}
        <section class="header" >
            {% include 'foro/header_login&registro.html' %}
        </section>
        {% endif %}
            <section class="head">
                <h1>Foro ArgChan</h1>
            </section>
        <section class='cuerpo'>
            <div>
                {% if login %}
                <button><a href="{% url 'adherir:post' topic %}">Crear un Post </a></button>
                {% endif %}
                <h1>{{ usuario }}</h1>
                <ul>
                    {% for post in posts %}
                    <li>
                        <a href="{% url 'posteo:posteo' post.id %}">{{ post.titulo }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
       
    </body>
    <footer>
            <section class="about">
                <button><a href="">Sobre nosotros</a></button>
            </section>
            {% include 'foro/footer.html' %}   
    </footer>
    
</html>