{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/styles.css' %}" type='text/css' />
    <title>Document</title>
</head>
<body>
    <section class="exito">
        <h3>
            Hubo un error en el registro.
            Pudo ser:
            - nombre repetido
            - contraseña incorrecta(mayusculas y minusculas, numeros y simbolos, mínimo 8 caracteres)
            - email repetido
        </h3>
        <a href="{% url 'foro:foro' %}">volver</a>

    </section>
    
    
    
</body>

</html>