<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'foro/header.html' %}
    <div class="content">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <select name="id">
                {% for topic in topics %}
                    <option value="{{ topic.id }}">{{ topic.nombre }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Borrar">
        </form>
    </div> 
    {% include 'foro/footer.html' %}
</body>
</html>