{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/styles.css' %}" type='text/css' />
</head>
<body>
    
    <div class="content">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <select name="id">
                {% for topic in topics %}
                    <option value="{{ topic.id }}">{{ topic.nombre }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Borrar">
        </form>
    </div> 
    
</body>

    <footer>
        {% include 'foro/footer.html' %}
    </footer>

</html>